.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #dbe7ee;
  width: 100%;
  padding: 1rem;
  z-index: 1000;
  .logo {
    color: brown;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    .icon {
      font-size: 25px;
      transform: translateY(5px);
    }
  }

  @media screen and (max-width: 768px) {
    .navBar {
      margin-top: 2rem;
      padding: 1rem;
      position: absolute;
      height: max-content;
      background: whitesmoke;
      width: 80;
      border-radius: 1rem;
      top: 6rem;
      left: 50%;
      transform: translate(-50%);
      z-index: 2000;
      box-shadow: 0 2px 4px rgba(2, 15, 29, 0.9);
      transition: 0.3s ease-in-out;

      .navLists {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto;
        padding: 0.5rem 0;
        .navItems {
          padding: 0.5rem 0;
          .navLink {
            color: grey;
            font-size: 0.9rem;
            font-weight: 600;
            &:hover {
              color: black;
            }
          }
        }
      }
    }
  }
}
.navItems {
  justify-content: space-between;
  padding: 0 0.8rem;
  margin: 0 0.8rem;
}
.navItems1 {
  justify-content: space-between;
  padding: 0 0.4rem;
  margin: 0 0.4rem;
}
