.footer {
  display: flex;
  flex-direction: column;
  background: #015294;
  width: 100%;
  padding: 0 10rem;
  .footer-content {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    gap: 20px;

    .col {
      max-width: 30%;
      .title {
        color: white;
        margin-bottom: 20px;
        font-size: 20px;
      }
      .text {
        color: white;
        font-size: 14px;
      }
    }
  }
  .col {
    max-height: 158px;
    display: flex;
    flex-direction: column;
    width: 33%;
  }
}
